* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #898989;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 2;
  background-color: #393939;
  overflow-x: hidden;
  color: #898989;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.sidebar .logo_scoala {
  width: 90%;
  height: auto;
}
.sidebar li {
  margin: 10% 0 10% 12%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sidebar li a {
  color: #898989;
}
.sidebar li:after {
  content: "";
  width: 0;
  display: block;
  height: 1px;
  background-color: rgb(230, 226, 221);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sidebar li:hover a {
  color: white;
}
.sidebar li:hover:after {
  width: 100%;
}

.content {
  margin-left: 20%;
}
.content .intro {
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 30px 0 30px 0;
}

.gallery {
  margin: 0 auto;
  background-color: #898989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px 0 5px 0;
  border-radius: 3px;
  max-width: 49%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .gallery {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .gallery img {
    max-width: 100% !important;
  }
}