* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #898989;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 2;
  background-color: #393939;
  overflow-x: hidden;
  color: #898989;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.sidebar .menu__icon {
  display: none;
}
.sidebar .logo_scoala {
  width: 90%;
  height: auto;
}
.sidebar li {
  margin: 10% 0 10% 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sidebar li a {
  color: #898989;
}
.sidebar li:after {
  content: "";
  width: 0;
  display: block;
  height: 1px;
  background-color: rgb(230, 226, 221);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sidebar li:hover a {
  color: white;
}
.sidebar li:hover:after {
  width: 100%;
}
.sidebar .menu__download {
  width: 30px;
  height: 30px;
  margin: 60px auto;
  bottom: 80px;
}
.sidebar .menu__download img {
  width: 30px;
  height: auto;
}
.sidebar .menu__download .download__hover {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar .menu__download .download__hover:hover {
  opacity: 1;
}
.sidebar .menu__download .download__normal {
  position: absolute;
  opacity: 1;
}

.content {
  margin-left: 20%;
}
.content .intro {
  font-size: 50px;
  font-weight: 700;
  color: white;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 30px 0 30px 0;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.content .intro.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery .profesori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}
.gallery .profesori .profesor {
  font-family: "Montserrat", sans-serif;
  max-width: 28%;
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.gallery .profesori .profesor.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.gallery .profesori .profesor .poza_nume {
  border: 4px solid #fff;
  border-radius: 2px;
}
.gallery .profesori .profesor img {
  width: 100%;
}
.gallery .profesori .profesor .nume_prof {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  padding: 3px;
  border-radius: 0 0 5px 0;
}
.gallery .profesori .profesor .obiect {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
  font-weight: 550;
  color: #fff;
}
.gallery .elevi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}
.gallery .elevi .elev {
  font-family: "Montserrat", sans-serif;
  max-width: 23%;
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.gallery .elevi .elev.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.gallery .elevi .elev .poza_nume {
  border: 4px solid #676767;
  border-radius: 2px;
}
.gallery .elevi .elev img {
  width: 100%;
}
.gallery .elevi .elev .nume_elev {
  background-color: #676767;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  color: white;
  padding: 3px;
  border-radius: 0 0 5px 0;
}
.gallery .elevi .elev .citat {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
  font-weight: 550;
  color: #fff;
}

@media (max-width: 900px) {
  .gallery {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .gallery img {
    max-width: 100% !important;
  }
}
@media (max-width: 800px) {
  body.lock {
    overflow: hidden;
  }
  .sidebar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 5;
  }
  .sidebar .menu__icon {
    margin: 50% 20px 0 0;
    display: block;
    z-index: 5;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
  }
  .sidebar .menu__icon span, .sidebar .menu__icon::before, .sidebar .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .sidebar .menu__icon::before, .sidebar .menu__icon::after {
    content: "";
  }
  .sidebar .menu__icon::before {
    top: 0;
  }
  .sidebar .menu__icon::after {
    bottom: 0;
  }
  .sidebar .menu__icon span {
    top: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sidebar .menu__icon.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .sidebar .menu__icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .sidebar .menu__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .sidebar .logo_scoala {
    margin: 0 0 0 15px;
    width: auto;
    height: 100%;
    z-index: 5;
  }
  .sidebar .menu__body {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.9568627451);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 100px 40px 40px 40px;
    overflow: auto;
  }
  .sidebar .menu__body.active {
    left: 0;
  }
  .sidebar .menu__body::before {
    content: "";
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #232323;
    z-index: 5;
  }
  .sidebar .menu__body .menu__list > li {
    margin: 50px auto;
    color: #fff;
  }
  .sidebar .menu__body .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .sidebar .menu__body a {
    font-size: 30px;
    color: #bfbfbf;
  }
  .content {
    margin: 0 auto;
  }
  .content .intro {
    padding-top: 100px;
  }
}